<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890970752615-fro4c1r7h18velqd36rdu6aaub1e01g8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890970752615-fro4c1r7h18velqd36rdu6aaub1e01g8</string>
	<key>API_KEY</key>
	<string>AIzaSyAxJ8FGHGj-J65ggZymis_iIb4NRL4Ntis</string>
	<key>GCM_SENDER_ID</key>
	<string>890970752615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iosexample.blog</string>
	<key>PROJECT_ID</key>
	<string>blogapp-f4434</string>
	<key>STORAGE_BUCKET</key>
	<string>blogapp-f4434.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890970752615:ios:47ff7f365aad033f7376c2</string>
</dict>
</plist>